@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'League Spartan';
        src: url('../webfonts/leaguespartan/leaguespartan/leaguespartan-bold.eot');
        src: url('../webfonts/leaguespartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
             url('../webfonts/leaguespartan/leaguespartan-bold.woff2') format('woff2'),
             url('../webfonts/leaguespartan/leaguespartan-bold.woff') format('woff'),
             url('../webfonts/leaguespartan/leaguespartan-bold.ttf') format('truetype'),
             url('../webfonts/leaguespartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
        font-weight: bold;
        font-style: normal;
    };
    @font-face {
        font-family: 'Montserrat';
        src: url('../webfonts/montserrat/Montserrat-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    };
    @font-face {
        font-family: 'Montserrat';
        src: url('../webfonts/montserrat/Montserrat-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    };
  };